/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-Jul-2019, 3:49:03 PM
    Author     : tt
*/

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.1;
    background-color: white;
    overflow: auto;
}

html, body {
    width   : 100%;
    height  : 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}


.instrument-image {
    vertical-align: top;
    max-width: 30%;
    max-height: 100%;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    flex: 0 0 auto;
}

.invisible {
    pointer-events: none;
    visibility: hidden;
}

.instrument-info-wrapper {
    flex: 1;
    -webkit-flex: 1;
    min-height: 0;
    position: relative;
    overflow: hidden;
}

.instrument-info {
    height: 100%;
    overflow: auto;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.instrument-info p {
    flex-basis: 100%;
    width: 0;
}
.instrument-heading {
    font-weight: bold;
    font-size: 200%;
}

.instrument-info {
}

.families span {
    font-size: 80%;
}
.instrument-info button {
    margin: 2px;
    
    flex: none;
}

.instrument-info-wrapper:after, .instrument-info-wrapper:before {
  content  : "";
  position : absolute;
  z-index  : 1;
  left     : 0;
  pointer-events   : none;
  
  width    : 100%;
  height   : 0.4em;
}

img:not([src]) {
    width: 0;
    height: 0;
    display: none;
}
.instrument-info-wrapper:after {
    bottom: 0;
    background-image : linear-gradient(to bottom, 
                    transparent, 
                    rgba(66, 176, 245, 1) 90%);
}

.instrument-info-wrapper:before {
    top: 0;
    background-image : linear-gradient(to top, 
                    transparent, 
                    rgba(66, 176, 245, 1) 90%);
}

.instrument-text {
    text-align: left;
    flex: 1 1 auto;
    display: inline-flex;
    flex-direction: column;
    padding: 4px;
}

.instrument-description {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.instrument-description {
    height: auto;
    min-height: 0;
    flex: 1 1 auto;
}

.instrument-controls {
    flex: 0 0 auto;
}
.instrument-viewer {
    background-color: rgb(66, 176, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    text-align: center;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    padding: 4px;
}

.screen-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.btn-circle {
    width: 50px;
    height: 50px;
    font-size: 26px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
}

.families {
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.instrument-viewer-container {
    vertical-align: middle;
}

body > div {
    overflow: hidden;
}
.instrument-viewer, .instrument-viewer-container {
    max-width: 100%;
    max-height: 100%;
}

.instrument-viewer > button {
    float: left;
}